#                  One - Hot Encoding with multiple categorical features ----

In [184]:
# Import Libraries

import pandas as pd
import numpy as np

In [185]:
# Import kaggle dataset : https://www.kaggle.com/arsenland/mercedesbenz-greener-manufacturing?select=test.csv

df = pd.read_csv('mercedes.csv',usecols = ['X0','X1','X2','X3','X4','X5'])
df.head(10)

   X0  X1  X2 X3 X4 X5
0  az   v   n  f  d  t
1   t   b  ai  a  d  b
2  az   v  as  f  d  a
3  az   l   n  f  d  z
4   w   s  as  c  d  y
5   y  aa  ai  e  d  x
6   x   b  ae  d  d  x
7   f   s  ae  c  d  h
8  ap   l   s  c  d  h
9   o   v  as  f  d  g

In [170]:
df.columns

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5'], dtype='object')

In [186]:
# Printing each column with unique number of labels

for i in df.columns:                        
    print(i,':',len(df[i].unique()),'labels')

X0 : 49 labels
X1 : 27 labels
X2 : 45 labels
X3 : 7 labels
X4 : 4 labels
X5 : 32 labels

In [187]:
pd.get_dummies(df,drop_first=True).shape

(4209, 158)

Performing one hot encoding in such a huge number of columns will increase the number of dimensions that leads to curse of dimensionality.Thereby, creates impact to our accuracy level. So, we take top 10 labels of each columns occuring most frequent number of times.

In [188]:
df.X0.value_counts().head(20)

ak    432
y     348
z     335
x     302
ay    299
t     293
o     246
f     213
w     198
j     171
n     167
aj    162
az    161
s     116
ap    108
al     88
h      64
d      61
e      48
v      40
Name: X0, dtype: int64

In [189]:
# Taking top 10 most frequently occuring labels of column 'X0'

top10_0 = [j for j in df.X0.value_counts().head(10).index]              
top10_0

['ak', 'y', 'z', 'x', 'ay', 't', 'o', 'f', 'w', 'j']

In [190]:
for k in top10_0:
    df[k] = np.where(df['X0'] == k,1,0)
df[['X0']+top10_0].head(30)

    X0  ak  y  z  x  ay  t  o  f  w  j
0   az   0  0  0  0   0  0  0  0  0  0
1    t   0  0  0  0   0  1  0  0  0  0
2   az   0  0  0  0   0  0  0  0  0  0
3   az   0  0  0  0   0  0  0  0  0  0
4    w   0  0  0  0   0  0  0  0  1  0
5    y   0  1  0  0   0  0  0  0  0  0
6    x   0  0  0  1   0  0  0  0  0  0
7    f   0  0  0  0   0  0  0  1  0  0
8   ap   0  0  0  0   0  0  0  0  0  0
9    o   0  0  0  0   0  0  1  0  0  0
10  ap   0  0  0  0   0  0  0  0  0  0
11  ay   0  0  0  0   1  0  0  0  0  0
12  al   0  0  0  0   0  0  0  0  0  0
13   o   0  0  0  0   0  0  1  0  0  0
14   h   0  0  0  0   0  0  0  0  0  0
15  al   0  0  0  0   0  0  0  0  0  0
16  ap   0  0  0  0   0  0  0  0  0  0
17  al   0  0  0  0   0  0  0  0  0  0
18   z   0  0  1  0   0  0  0  0  0  0
19   y   0  1  0  0   0  0  0  0  0  0
20  al   0  0  0  0   0  0  0  0  0  0
21  al   0  0  0  0   0  0  0  0  0  0
22   z   0  0  1  0   0  0  0  0  0  0
23  al   0  0  0  0   0  0  0  0  0  0
24   y   0  1  0  0   0  0  0  0  0  0
25  ap   0  0  0  0   0  0  0  0  0  0
26  ay   0  0  0  0   1  0  0  0  0  0
27  ay   0  0  0  0   1  0  0  0  0  0
28   f   0  0  0  0   0  0  0  1  0  0
29  az   0  0  0  0   0  0  0  0  0  0

In [191]:
def ohe(data,top,var):
    for k in top:
        data[var+'_'+k] = np.where(data[var]==k,1,0)

df = pd.read_csv('mercedes.csv',usecols = ['X0','X1','X2','X3','X4','X5'])
ohe(df,top10_0,'X0')
df.head()

   X0 X1  X2 X3 X4 X5  X0_ak  ...  X0_x  X0_ay  X0_t  X0_o  X0_f  X0_w  X0_j
0  az  v   n  f  d  t      0  ...     0      0     0     0     0     0     0
1   t  b  ai  a  d  b      0  ...     0      0     1     0     0     0     0
2  az  v  as  f  d  a      0  ...     0      0     0     0     0     0     0
3  az  l   n  f  d  z      0  ...     0      0     0     0     0     0     0
4   w  s  as  c  d  y      0  ...     0      0     0     0     0     1     0

[5 rows x 16 columns]

In [192]:
# Considering the remaining columns

top10_1,top10_2,top10_3,top10_4,top10_5 = [j for j in df.X1.value_counts().head(10).index],[x for x in df.X2.value_counts().head(10).index],[y for y in df.X3.value_counts().head(10).index],[z for z in df.X4.value_counts().head(10).index],[w for w in df.X5.value_counts().head(10).index]
ohe(df,top10_1,'X1')
ohe(df,top10_2,'X2')
ohe(df,top10_3,'X3')
ohe(df,top10_4,'X4')
ohe(df,top10_5,'X5')
df.head()

   X0 X1  X2 X3 X4 X5  X0_ak  ...  X5_w  X5_af  X5_ad  X5_ac  X5_n  X5_l  X5_s
0  az  v   n  f  d  t      0  ...     0      0      0      0     0     0     0
1   t  b  ai  a  d  b      0  ...     0      0      0      0     0     0     0
2  az  v  as  f  d  a      0  ...     0      0      0      0     0     0     0
3  az  l   n  f  d  z      0  ...     0      0      0      0     0     0     0
4   w  s  as  c  d  y      0  ...     0      0      0      0     0     0     0

[5 rows x 57 columns]

In [193]:
df1 = df.drop(['X0','X1','X2','X3','X4','X5'],axis = 1)
df1.head()

   X0_ak  X0_y  X0_z  X0_x  X0_ay  X0_t  ...  X5_af  X5_ad  X5_ac  X5_n  X5_l  X5_s
0      0     0     0     0      0     0  ...      0      0      0     0     0     0
1      0     0     0     0      0     1  ...      0      0      0     0     0     0
2      0     0     0     0      0     0  ...      0      0      0     0     0     0
3      0     0     0     0      0     0  ...      0      0      0     0     0     0
4      0     0     0     0      0     0  ...      0      0      0     0     0     0

[5 rows x 51 columns]

**##Now the dataset is ready for feeding into the model and other steps.**